@charset "utf-8";
/* CSS Document */
body{background:#000;color:#c0c0c0;font-family:'arial','微软雅黑';overflow-x:hidden;font-size:12px;line-height:24px;}
p{padding-top:10px;}

#header{width:100%;height:68px;background:#fff;position:relative;}
#header .nav{width:960px;height:34px;line-height:34px;padding-top:34px;margin:0 auto;
background:url(../images/h-logo.png) no-repeat left center;text-align:right;font-weight:bold;font-size:12px;}
#header a{text-decoration:none;color:#000;}
#header a:hover,#header a.current{color:#006934;}

#banner{width:100%;height:553px;overflow:hidden;position:relative;}
#banner object{width:1400px;position:absolute;left:50%;margin-left:-700px;}

#banner{width:100%;height:787px;overflow:hidden;position:relative;}
#banner object{width:1400px;position:absolute;left:50%;margin-left:-700px;}

#nav{width:100%;height:84px;position:relative;}
#nav div{
	width: 1400px;
	height: 36px;
	position: absolute;
	left: 50%;
	margin-left: -700px;
	background: url(../images/nav-bg.png) 0 center no-repeat;
}
#nav ul{
	width: 960px;
	overflow: hidden;
	position: absolute;
	left: 699px;
	margin-left: -480px;
	top: 6px;
}
#nav li{float:left;padding:0 30px 0 0;}
#nav a{color:#000;font-weight:bold;text-decoration:none;font-size:16px;font-family:'微软雅黑';}
#nav a:hover{color:#006934;}
#nav a.active{color:#006934;}
#content{width:960px;margin:0 auto;padding-top:40px;background:#fff;position:relative;}
#content h2{
	font-size: 36px;
	text-align: center;
	margin: 0 0 15px 0;
	color: #006934;
}
#content h3{font-size:16px;margin:0 0 20px 0;text-align:center;color:#000;}
#content h4{font-size:26px;font-weight:bold;margin:0 0 20px 0;text-align:left;color:#000;}
#content h5{font-size:20px;font-weight:bold;margin:0 0 20px 0;text-align:center;color:#36ae37;}
#content h6{font-size:14px;font-weight:bold;margin:0 0 20px 0;text-align:left;color:#000;}
#content h7{
	font-size: 12px;
	margin: 0 0 20px 0;
	text-align: left;
	color: #000;
}
#content p{
	font-size: 12px;
	margin: 0 0 0px 0;
	text-align: left;
}

#pro{overflow:hidden;}
#pro li{float:left;width:289px;height:392px;margin:0 12px 12px 12px;text-align:center;cursor:pointer;}
#pro li p{color:#e8e8e8;margin-top:320px;cursor:pointer;}
#reg{width:960px;height:720px;background:url(../images/reg.png) 366px 40px no-repeat;position:relative;}
#reg div{width:340px;height:200px;}
.reg1{position:absolute;left:0px;top:50px;text-align:right;}
.reg2{position:absolute;left:590px;top:320px;}
.reg3{position:absolute;left:0px;top:550px;text-align:right;}
#content .tit{
	margin: 15px 0 15px 0;
	color: #000000;
	padding-left: 0;
	font-weight: bold;
	border-bottom: 2px solid #999;
	line-height: 30px;
	text-align: left;
}

.intro{
	display:none;
	width:850px;
	height:400px;
	padding:50px 0 30px 30px;
	position:fixed;
	left:50%;
	top:50px;
	margin-left:-440px;
	-webkit-border-radius:5px;
	-moz-box-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:4px 2px 6px #333333;
	-moz-box-shadow:3px 2px 6px #333333;
	box-shadow:4px 2px 6px #333333;
	background:#eee;
	z-index:1000;
	}
.theHead {
	width:160px;
	height:100%;
	float:left;
	}
.theHead img{
	width:160px;
	}
.proInfor{
	height:400px;
	padding:0 20px;
	overflow:auto;
	}
.proInfor p{
	color:#999;
	font-size:12px;
	text-align:justify;
	}
#content .proInfor h3{
	margin:0;
	font-size:16px;
	text-align:left;
	color:#999;
	}
a.close{position:absolute;right:10px;top:10px;width:16px;height:16px;background:url(../images/close.png) no-repeat 0 0;}
a.close:hover{background-position:-16px 0;}

#footer{width:100%;height:232px;position:relative;}
#footer div{width:1400px;height:232px;position:absolute;left:50%;margin-left:-700px;
	background:url(../images/footer.png) 0 center no-repeat;
}

.mask{width:100%;height:100%;position:fixed;left:0;top:0;background:#000;opacity:0.5;
	filter:alpha(opacity=50);}

.renwuTit{text-align:left;margin:15px 0 20px 0;color:#999;line-height:26px;font-weight:bold;
	font-size:16px;border-bottom:1px solid #666;}
.renwu{overflow:hidden;}
.renwu a{color:#999;}
.renwu a img{border:1px solid #333333;}
.renwu a:hover img{border:1px solid #cccccc;}
.renwu li{float:left;margin:0 100px 10px 0;height:300px;}
#content .smallIntro{
	width: 190px;
	padding: 10px 5px;
	text-align: left;
	font-size: 12px;
	line-height: 20px;
	color: #000;
}
#content .smallIntro span{
	font-size: 12px;
	font-weight: bold;
	color: #000;
}

.ltjj p span{display:block;font-size:12px;color:#666;}

.ycTable{font-size:12px;border-collapse:collapse; color:#666;}
.ycTable th,.ycTable td{padding:2px 5px;line-height:20px;font-size:12px;border-top:1px solid #999;border-bottom:1px solid #999;word-break:break-all;}
.ycTable th{font-size:14px;}
td.dataHeader{background: #666;color:#000;font-weight:bold}
.topicItem{color:#666}

.media-support{text-align:center;}
.media-support a{color:#666;}
.media-support img{width:150px;vertical-align: bottom;}
